*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
	height: auto;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #555;
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
}

.section-margin{
    margin-top: 30px;
    padding: 10px 10px;
}

.row-padding{
    padding: 5px 0 10px 20px;
}

.section-h1{
    color: rgba(248, 129, 248, 0.818);
    line-height: 50px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}



.banner{
    background-image: url(images/yoga\ 3.jpeg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner .row {
    justify-content: center;
    padding: 30px 20px ;
}


a{
    text-decoration: none;
    color: #faf734d6;
	cursor: pointer;
}

.banner-heading .row{
    display: flex;
    justify-content: space-between;
    padding: 20px 130px  20px 150px;
}

.banner-heading .row::after{
    content: '';
    height: 3px;
    width: 82%;
    background: #edecb7da;
    position: absolute;
    top: 170px;
    left: 125px;
}


img{
    width: 100%;
    height: 100%;
}
/* 
.banner .banner-heading .row .banner-logo img{
    object-fit: cover;
} */

.row .banner-logo img{
    height: 130px;
    width: 130px;
    margin-top: -50px;
    background-color: #ffffffb2;
    border-radius: 50%;
    padding: 0;
    /* object-fit: cover; */

}

.icon-text{
    display: flex;
    margin-top: 50px;
    padding: 10px;
    gap: 10px;
}

.icon-text a h4{
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;

}



.icon-text i{
    color: #513939;
   margin-top: -10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    height: 40px;
}

.banner-details{
    margin-top: 50px;
    text-align: center;
    color: #edecb7da;
}

.banner-details .row h1{
    font-size: 50px;
    line-height: 30px;
    padding: 20px;
    font-weight: 700;
}

.banner-details .row p{
    line-height: 30px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;

}

.banner-details .row button{
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
    background-color: rgba(143, 71, 143, 0.818);
    border: none;
    color: #ffff;
}

.banner-details .row button:hover{
    background-color: rgba(36, 34, 34, 0.541);
    color: rgba(248, 129, 248, 0.818);
    transition: 0.3s ease-in;
}

.service p{
     text-align: center;
     font-size: 18px;
     font-weight: 700;
}
.service-detail{
    display: flex;
    text-align: center;
    margin: 10px;
    margin-bottom: 60px;
}

.service-detail .row img{
   object-fit: contain;
}

.row img{
    width: 30%;
    margin-top: -26px;
}

.service-detail .row {
    margin: 20px;
}

.service-detail .row h2{
    padding-bottom: 20px;
    margin-top: -46px;
    color: #000;
}

.service-detail .row p{
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;
}

.classes {
    display: flex;
    /* margin: 10px; */
    margin-top: 30px;
}

.classes h1{
    text-align: left;
    padding-left: 50px;
}

#classes-details{
    width: 50%;
    background: #a5a1a18a;
    height: 369px;
    /* height: 100%; */
    margin-top: 40px;
    margin-left: 40px;
}

#classes-details p{
    width: 90%;
    padding-left: 50px;
}


#classes-details span{
    color: rgba(143, 71, 143, 0.818);
    padding: 5px;
}

#classes-img{
    width: 50%;
    margin-top: 50px;
    padding: 15px;
}

#classes-img img{
    width: 90%;
}


.benefits #b-heading p{
    text-align: center;
     font-size: 18px;
     font-weight: 700;
}

.benefits{
    position: relative;
    width: 100%;
}

.benefit-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    /* top: 700px; */
}

.benefit-img img{
    height: 150%;
    width: 110%;
}

.benefits-items{
    position: absolute;
}

#img-text{
    width: 20%;
    /* position: absolute; */
}

article{
    position: relative;
     
}

#img-text:nth-child(1){
    position: absolute;
    top: 0;
    left: 290px;
    line-height: 25px;
    width: 23%;
    height: 15%;
    text-align: right;
}

#img-text:nth-child(2){
    position: absolute;
    left: 730px;
    line-height: 25px;
    width: 23%;
    text-align: left;
    height: 15%;
}


#img-text:nth-child(3){
    position: absolute;
    line-height: 25px;
    top: 200px;
    left: 122px;
    width: 24%;
    height: 15%;
    text-align: right;



}
#img-text:nth-child(4){
    position: absolute;
    line-height: 25px;
    top: 200px;
    left: 870px;
    width: 23%;
    height: 15%;
    text-align: left;
}


#img-text:nth-child(5){
    position: absolute;
    line-height: 25px;
    top: 420px;
    left: 40px;
    width: 24%;
    height: 15%;
    text-align: right;

}


#img-text:nth-child(6){
    position: absolute;
    line-height: 25px;
    top: 420px;
    left: 940px;
    width: 24%;
    text-align: left;

}


.avail-classes{
    margin-top: 50px;
    text-align: center;
    margin: 50px 10px 10px 20px;
    
}

.avail-detail{
    display: flex;
    margin: 30px;
}

.avail-detail .row{
      flex: 0 10% 30%;
    max-width: 32%;
}

.avail-detail .row h2{
    margin-top: 30px;
}


.row .av-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.av-image img{
    margin-top: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-us{
    margin: 50px 10px 10px 20px;

}

.contact-us p{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.form-working-days{
    display: flex;
}


.contact-us form{
    margin: 30px 0 10px 30px ;
    width: 50%;
    padding: 25px;
    border: 2px solid  rgba(36, 34, 34, 0.541);
    background:  rgba(36, 34, 34, 0.059);
   
}

.contact-us form h1{
    text-align: center;
    padding: 30px 0 0 10px;
    font-weight: 800;
}

.contact-us form h5{
    text-align: center;
    padding: 10px 0 0 10px;
    font-weight: 700;
}

.contact-us form input{
    width: 45%;
    padding: 15px;
    margin: 5px 5px 5px 17px;
    outline: none;
    /* border: none; */
}

.contact-us form select{
    width: 45%;
    padding: 15px;
    margin: 5px 5px 5px 17px;
     outline: none;
}

.contact-us form textarea{
    width: 94.5%;
    padding: 25px;
    margin: 5px 5px 5px 17px;
    outline: none;
}

.contact-us button{
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
    background-color: rgba(143, 71, 143, 0.818);
    border: none;
    color: #ffff;
    text-align: center;
    width: 97%;
    margin-left: 10px;
}

.contact-us button:hover{
    background-color: rgba(36, 34, 34, 0.541);
    color: rgba(248, 129, 248, 0.818);
    transition: 0.3s ease-in;
}


.working-days{
    text-align: center;
    margin: 50px 0 10px 20px ;
    padding: 50px 0 10px 50px ;
    line-height: 40px;

}

.working-days h3{

    color: rgba(248, 129, 248, 0.818);
    font-weight: 900;
    font-size: 28px;
    padding-top: 20px;


}

.working-days p{
font-weight: 500;
}

.working-days span{
     font-weight: 700;
}














































